<%-include('partials/header.ejs')%>
	<%if(locals.data){%>
		<hr>
		<h1>Books List</h1>
		<div class="container text-center">
			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
				<%data.forEach(book=>{%>

					<div class="card" style="margin:15px;width:500px;">
						<div class="card-body">
							<div class="gr">
								
								<img src=<%=book.volumeInfo.imageLinks.thumbnail%> alt="book_cover" class='bookcover'>
								<h2>
									<%= book.volumeInfo.title%></a>
								</h2>
								<!-- Book Author -->
								<p><strong>Author:</strong>
									<%=book.volumeInfo.authors%>
								</p>

								<!-- Book Publisher -->
								<p><strong>Publisher:</strong>
									<%=book.volumeInfo.publisher%>
								</p>

								<!-- Published Date -->
								<p><strong>Published Date:</strong>
									<%=book.volumeInfo.publishedDate%>
								</p>

								<!-- Description -->
								<p><strong>Description:</strong>
									<%=book.volumeInfo.description%>
								</p>

								<p><strong>PageCount:</strong>
									<%=book.volumeInfo.pageCount%>
								</p>

								<p><strong>Preview Link:</strong><a href=<%=book.volumeInfo.previewLink%>>
										<%=book.volumeInfo.previewLink%>
									</a></p>
									<form action="/add" method="post">
									<input type="hidden" name="image" value="<%=book.volumeInfo.imageLinks.thumbnail%>">
									<input type="hidden" name="title" value="<%=book.volumeInfo.title %>">
									<input type="hidden" name="author" value="<%=book.volumeInfo.authors%>">				
									<button type="submit" class="btn btn-outline-primary">Add</button>
								</form>
								</div>
						</div>
					</div>
					
					<%})%>
			</div>
		</div>
		<%}else if(locals.error){%>

			<h3><%=error%></h3>

			<%}%>
				</body>

				</html>