<%-include("partials/header.ejs")%>

	<body>
		<div class="container-fluid" style="text-align: center;display:flex;justify-content: center;align-items: center;background-color: cadetblue;height:100vh">
			<div class="mb-3" style="width:100%">
				<div class="mb-3" style="margin:10px;">
					<form action="/save" method="post">
					<h1><%=data.title%></h1>
					<h4>Author: <%=data.author%></h4>
					<h4 style="position: absolute;left:25px;top:60px">Created on: <%=date%></h4>
            
					<textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Write Your Notes Here..." name="notes"style="height:450px;width:100%" ></textarea>
					
					<input type="hidden" name="book_id" value="<%=data.id%>">
					
					<input type="hidden" name="date" value="<%=date%>">
					<button type="submit" class="btn btn-info">Save</button>
					
				</form>
				</div>
				
			</div>
	</body>

	</html>